.container {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: 390px auto;

  
  .miniCalendar {
    background-color: #e9e9e9;
    border-right: 3px solid #6e6e6e;
  }

  .fullCalendar {
  }
}
